<div class="table-responsive mt-2" [formGroup]="form">
  <table class="table table-striped" aria-label="Lista de cursos">
    <thead>
      <tr>
        <th class="w-55">Nome</th>
        <th class="w-40">Url</th>
        <th class="w-5">Ações</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let aula of getAulasControls().controls; let i = index" formArrayName="aulas" class="align-items-center w-100">
        <td [formGroupName] = "i" class="w-55">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Aula</mat-label>
            <input matInput name="nome" formControlName="nome" required #nomeCurso>
            <mat-hint align="end">{{nomeCurso?.value?.length}}/100</mat-hint>
            <mat-error *ngIf="!aula.get('nome')?.valid">{{ getErroMessages( aula.get('nome') ) }}</mat-error>
          </mat-form-field>
        </td>
        <td [formGroupName] = "i" class="w-40">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Url</mat-label>
            <input matInput name="url" formControlName="url" required>
            <mat-error *ngIf="!aula.get('url')?.valid">{{ getErroMessages( aula.get('url') ) }}</mat-error>
          </mat-form-field>
        </td>
        <td class="w-5 p-relative">
          <button class="vertical-center" id="btnremoveAula" mat-fab color="warn" matTooltip="Remover esta aula" (click)="removeAula(i, $event)">-</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
