<div class="container-fluid mt-3">

  <mat-toolbar color="secondary" class="mb-2">
    <div class="d-flex justify-content-between w-100">
      <span>Cursos</span>
      <button mat-raised-button color="primary" (click)="openCadastro()" class="d-flex justify-content-between align-items-center">
        <mat-icon svgIcon="add"></mat-icon>
        <span>Novo Curso</span>
      </button>
    </div>
  </mat-toolbar>

  <mat-table #table [dataSource]="cursos" class="mat-elevation-z8" *ngIf="!load; else loading" >
    <ng-container matColumnDef="id">
      <mat-header-cell  *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let curso"> {{curso.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> CURSO </mat-header-cell>
      <mat-cell *matCellDef="let curso"> {{curso.nome}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="valor">
      <mat-header-cell *matHeaderCellDef> VALOR </mat-header-cell>
      <mat-cell *matCellDef="let curso"> {{curso.valor}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="categoria">
      <mat-header-cell *matHeaderCellDef> CATEGORIA </mat-header-cell>
      <mat-cell *matCellDef="let curso">
        {{curso.categoria}}
        <mat-icon class="mat-18" color="primary">{{curso.categoria | categoria}}</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>AÇÕES</mat-header-cell>
      <mat-cell *matCellDef="let curso">
        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="openEdicao(curso.id)" >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="deleteCurso(curso.id)">
          <mat-icon aria-label="Delete" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
  </mat-table>
</div>

<ng-template #loading>
  <div class="loading">
    <mat-spinner class="center" #spinner></mat-spinner>
  </div>
</ng-template>
